@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  
}

@font-face {
  font-family: 'myfont';
  src: url('../Empire.ttf')format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.navbar-container{
  font-family: 'myfont';
}

.App {
  align-items: center;
  justify-content: center;
}
body {
  background-color: #855afd;
}
.title h1 {
  color: #3a3a3a;
  text-align: center;
  margin: 30px 0;
  font-family: "myfont";
  font-weight: 700;
}


form {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 1px 2px 10px #ddd;
}

form h3 {
  text-align: center;
  font-family: 'myfont';
}
form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "myfont";
  font-weight: 500;
}
.welcome-box{
  width: 100%;

  margin-top: 100px;


 

  
}

.highlight-name{
 
  border: 2px solid;
  border-color: red;
  margin-right: 2px;
  color: red;
 
  animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 0.4s;
}
@keyframes example {
  from {border-color: red; color: red;}
  to {border-color: yellow; color: yellow}
}

.login-message-container{
  height: 200px;
  border: 2px solid;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;


}
.form-container{
  background-color: rgba(200, 200, 200, 0.003);
}
.login-message-container div{
 flex-direction: column;
}
.welecome-container{

  height: auto;
}
.input_container {
  margin-bottom: 20px;

}
.input_container:focus {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
}
.btn_container button {
  background: #333;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "myfont";
  font-weight: 500;
}
.welecome-container{
  text-align: center;
  font-family: 'myfont';
}
.loading-arrow{
  transform: rotate(-20deg);
}
.welecome-container-2{
  text-align: center;
  font-family: 'myfont';
  display: flex;
  flex-direction: row;
  justify-content: center;
} 
.todo_container {
  width: 80%;
  margin: 0 auto;
}
.todo {
  margin-top: 20px;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 2px 10px #ddd;
}
.todo input {
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;

  font-weight: 500;
}
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
#i {
  font-size: 35px;
}
#inputdate{
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
#inputdate:focus{
  color: black;
   font-family: 'Courier New', Courier, monospace;
}
#inputdate::after{
  color: black;
   font-family: 'Courier New', Courier, monospace;
}
.button-complete {
  color: #95faa3;
 

  margin-right: 10px;
}
.button-container{
  width: 200px;
}
.button-edit {
  color: #56cfff;
  margin-right: 10px;
}
.button-delete {
  color: rgb(255, 122, 98);
}
@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}
input:focus,
button:focus {
  outline: none;
}